<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>

    <logger name="com.github.jeanadrien.evrythng.scala" level="DEBUG" />
    <logger name="play.api.libs.ws.ahc" level="DEBUG" />
    <logger name="org.apache.http" level="INFO" />

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
